<div class="text-center text-sm-start text-md-center text-lg-center text-xl-center text-xxl-center" id="promo" style="height: 500px;margin-bottom: 150px;">
    <p class="font-monospace fs-1 fw-bolder shadow-lg" style="font-size: 68px;text-align: center;"><strong><span style="color: rgb(255, 255, 255);">Encuentra a tu nuevo mejor amigo!</span></strong></p><button class="btn btn-primary btn-lg font-monospace text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center d-flex justify-content-center align-items-center align-content-center mx-auto align-items-sm-center" type="button" style="margin-top: 200px;color: var(--bs-emphasis-color);font-weight: bold;background: linear-gradient(171deg, #ff7eb7 0%, #b6c4ff 100%), var(--bs-danger-bg-subtle);border-style: none;border-left-style: none;border-left-color: rgb(234,13,253);">MATCH</button><small class="d-sm-flex align-items-center align-content-center align-self-center justify-content-sm-center align-items-sm-center" style="color: var(--bs-body-bg);margin-top: 5px;">Solo te tomara 1 minuto</small>
    <div class="text-center d-inline-flex flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center flex-wrap" style="position: static;display: block;transform: perspective(0px);padding-left: 0px;padding-right: 0px;margin-left: 0px;color: var(--bs-emphasis-color);text-align: center;margin-top: 30px;margin-bottom: 0px;">
        <div id="cardEntrada-5" class="p-4 text-center shadow-lg m-5 rounded-5" style="background: linear-gradient(171deg, rgb(182,196,255) 0%, rgb(182,196,255) 0%, #ff7eb7 100%), #b6c4ff;width: 180px;position: relative;display: inline;padding-top: 85px;padding-left: 56px;margin-top: 10px;"><img class="pt-2 w-50" src="assets/cat_4445870.png">
            <h3 class="text-center pt-2" style="color: var(--bs-emphasis-color);">Gatos</h3>
        </div>
        <div class="text-success p-4 text-center shadow-lg m-5 rounded-5" id="cardEntrada-6" style="background: linear-gradient(171deg, rgb(182,196,255) 0%, rgb(182,196,255) 0%, #ff7eb7 100%), #b6c4ff;width: 180px;position: relative;display: inline;padding-top: 85px;padding-left: 56px;margin-top: 10px;"><img class="pt-2 w-50" src="assets/dog_3615424.png">
            <h3 class="text-center pt-2" style="color: var(--bs-emphasis-color);">Perros</h3>
        </div>
    </div>
    <div class="text-center d-inline-flex flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center flex-wrap" style="position: static;display: block;transform: perspective(0px);padding-left: 0px;padding-right: 0px;margin-left: 0px;color: var(--bs-emphasis-color);text-align: center;margin-top: 0;">
        <div id="cardEntrada-3" class="p-4 text-center shadow-lg m-5 rounded-5" style="background: linear-gradient(171deg, rgb(182,196,255) 0%, rgb(182,196,255) 0%, #ff7eb7 100%), #b6c4ff;width: 180px;position: relative;display: inline;padding-top: 85px;padding-left: 56px;margin-top: 10px;"><img class="pt-2 w-50" src="assets/pawprint_404035.png">
            <h3 class="text-center pt-2" style="color: rgb(0,0,0);">Otros</h3>
        </div>
        <div class="text-success p-4 text-center shadow-lg m-5 rounded-5" id="cardEntrada-4" style="background: linear-gradient(171deg, rgb(182,196,255) 0%, rgb(182,196,255) 0%, #ff7eb7 100%), #b6c4ff;width: 180px;position: relative;display: inline;padding-top: 85px;padding-left: 56px;margin-top: 10px;"><img class="pt-2 w-50" src="assets/animal-shelter_6680013.png">
            <h3 class="text-center pt-2" style="color: var(--bs-emphasis-color);">Refugios</h3>
        </div>
    </div>
    <section>
        <div>
            <div class="container" id="wellcome" style="margin: 0px;margin-bottom: 20px;">
                <h1>Bienvenido a Bestie Finder</h1>
                <p><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">Te damos la bienvenida a un mundo donde puedes hacer la diferencia en la vida de animales necesitados. ¿Queres encontrar tu compañero peludo perfecto? ¿Tienes un refugio o eres amante de los animales? ¡Estás en el lugar adecuado!</span></p>
            </div>
        </div>
        <div class="container text-center" id="why" style="margin-top: 20px;margin-right: 0px;margin-left: 0px;/*background: linear-gradient(var(--bs-pink) 0%, var(--bs-danger-bg-subtle) 2%);*/position: relative;display: block;overflow: visible;/*max-width: 100%;*//*widh: 100%;*/background: #f9f9fc;">
            <h1 style="padding-top: 20px;max-width: 100%; margin-bottom: 15px;">Con Bestie Finder, puedes:</h1>
            <div class="row" style="padding-bottom: 20px; padding-left: 0px; padding-right: 0px;">
                <div class="col-md-4 item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M5 9.98193V19.9819H19V9.98193H15V7.98193H21V21.9819H3V7.98193H9V9.98193H5Z" fill="currentColor"></path>
                        <path d="M13.0001 2H11.0001V14.0531L8.46451 11.5175L7.05029 12.9317L12 17.8815L16.9498 12.9317L15.5356 11.5175L13.0001 14.053V2Z" fill="currentColor"></path>
                    </svg>
                    <h2>Publicar&nbsp;</h2>
                    <p><span style="color: rgb(55, 65, 81); background-color: rgba(247, 247, 248, 0);">¿Tienes una mascota que necesita un hogar? Publica su perfil y comparte su historia con posibles adoptantes o personas interesadas en aportar.</span></p>
                </div>
                <div class="col-md-4 item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0122 5.57169L10.9252 4.48469C8.77734 2.33681 5.29493 2.33681 3.14705 4.48469C0.999162 6.63258 0.999162 10.115 3.14705 12.2629L11.9859 21.1017L11.9877 21.0999L12.014 21.1262L20.8528 12.2874C23.0007 10.1395 23.0007 6.65711 20.8528 4.50923C18.705 2.36134 15.2226 2.36134 13.0747 4.50923L12.0122 5.57169ZM11.9877 18.2715L16.9239 13.3352L18.3747 11.9342L18.3762 11.9356L19.4386 10.8732C20.8055 9.50635 20.8055 7.29028 19.4386 5.92344C18.0718 4.55661 15.8557 4.55661 14.4889 5.92344L12.0133 8.39904L12.006 8.3918L12.005 8.39287L9.51101 5.89891C8.14417 4.53207 5.92809 4.53207 4.56126 5.89891C3.19442 7.26574 3.19442 9.48182 4.56126 10.8487L7.10068 13.3881L7.10248 13.3863L11.9877 18.2715Z" fill="currentColor"></path>
                    </svg>
                    <h2>Encontrar</h2>
                    <p><span style="color: rgb(55, 65, 81); background-color: rgba(247, 247, 248, 0);">Explora cientos de perfiles de mascotas en busca de un nuevo hogar. Encuentra el amigo peludo que mejor se adapte a tu vida y tu corazón.</span></p>
                </div>
                <div class="col-md-4 item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z" fill="currentColor"></path>
                    </svg>
                    <h2>Registrar</h2>
                    <p><span style="color: rgb(55, 65, 81); background-color: rgba(247, 247, 248, 0);">Si eres parte de un refugio puedes registrar tu organización en nuestra plataforma. Conecta a tus protegidos con personas dispuestas a darles amor.</span></p>
                </div>
            </div>
        </div>
        <div class="container py-4 py-xl-5">
            <div class="row" style="margin-bottom: 10px;background: rgba(255,194,221,0);">
                <div class="text-center mx-auto">
                    <h2><span style="color: rgb(247, 133, 183);">Testimonios</span></h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-center"><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">"Con la ayuda de Bestie Finder, mi vida se iluminó con la llegada de Leon. Este compañero peludo no solo trajo alegría a mi hogar, sino que también llenó mi vida de amor incondicional. Cada día que pasa, estoy agradecida por haberlo encontrado y no puedo imaginar mi vida sin él."</span><br><br></p>
                        <div class="d-flex" style="margin-bottom: 20px;"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/IMG_0973ret-e1580909675530-1920x1454%20(1).jpg">
                            <div>
                                <p class="fw-bold text-primary mb-0"><span style="color: rgb(247, 133, 183);">Pampita Ardohain</span></p>
                                <p class="text-muted mb-0">Usuario de Bestie Finder</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow-none">
                            <div class="card-body d-flex align-items-center p-0"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-center"><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">"Desde el momento en que adopté a Indica a través de Bestie Finder, mi vida dio un giro asombroso. La conexión que compartimos es inquebrantable, y cada día que pasa reafirma mi decisión de adoptar a través de esta maravillosa plataforma. ¡Gracias, Bestie Finder! <br>"</span><br><br></p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/AOQVGPUGDFEVRH2YEQX2KID5TM.webp">
                            <div>
                                <p class="fw-bold text-primary mb-0"><span style="color: rgb(247, 133, 183);">Candelaria Tinelli</span></p>
                                <p class="text-muted mb-0">Protectora de animales</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow-none">
                            <div class="card-body d-flex align-items-center p-0"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-center"><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">"Bestie Finder no solo me permitió encontrar a Uma, sino que también me inspiró a ser un defensor activo de la adopción responsable. Adoptarme cambió mi perspectiva sobre la importancia de brindar un hogar a animales necesitados. Hoy, Uma es parte de mi familia. Bestie Finder cambió mi vida"<br></span></p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/GI3GCOBQGFSWKZDGMNSWEOLGMQ.webp">
                            <div>
                                <p class="fw-bold text-primary mb-0"><span style="color: rgb(247, 133, 183);">Franco Masini</span></p>
                                <p class="text-muted mb-0">Actor y proteccionista</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow-none">
                            <div class="card-body d-flex align-items-center p-0"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-center"><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">"Adoptar a través de Bestie Finder fue una experiencia que unica. Buey llegó a mi vida como un rayo de sol en un día nublado. No solo llenó mi hogar de amor y alegría, sino que también me demostró la importancia de darle una segunda oportunidad a los animales que lo necesitan"</span></p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/istockphoto-1158245369-612x612.jpg">
                            <div>
                                <p class="fw-bold text-primary mb-0"><span style="color: rgb(247, 133, 183);">Luciano Brugnoni</span></p>
                                <p class="text-muted mb-0">Veterinario voluntario</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow-none">
                            <div class="card-body d-flex align-items-center p-0"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-center"><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">"Adoptar a través de Bestie Finder cambió por completo nuestra familia. Cuando conocimos a Mora, no solo encontramos una compañera leal, sino que también dimos un paso significativo hacia la adopción responsable. Esta experiencia nos enseñó la importancia de brindar amor y cuidado"</span></p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/1683338381655.jpg">
                            <div>
                                <p class="fw-bold text-primary mb-0" style="color: rgb(235,144,202);"><span style="color: rgb(247, 133, 183);">Candelaria Sobol</span></p>
                                <p class="text-muted mb-0">Amante de los animales</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow-none">
                            <div class="card-body d-flex align-items-center p-0"></div>
                        </div>
                    </div>
                </div>
                <div class="col" style="height: 282px;">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <p class="text-center"><br><span style="color: rgb(55, 65, 81); background-color: rgba(255, 255, 255, 0);">"Bestie Finder es más que una plataforma de adopción; es un puente hacia la felicidad compartida. Adoptar a Olivia a través de esta increíble comunidad de amantes de los animales fue una decisión que cambió mi vida. Olivia me dio amor incondicional y amistad sincera a cambio"</span></p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="assets/descarga.jpg">
                            <div>
                                <p class="fw-bold text-primary mb-0"><span style="color: rgb(247, 133, 183);">Auron Play</span></p>
                                <p class="text-muted mb-0">Youtuber</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow-none">
                            <div class="card-body d-flex align-items-center p-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="max-width: 100%;width: 100%;"></div>
    </section>
</div>