<nav class="navbar navbar-expand-md">
    <div class="container-fluid"><img id="logo" src="assets/animals_5443293.png"><a class="navbar-brand" href="#" style="color: rgb(255,126,183);"><strong>Bestie Finder</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Perros</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gatos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Aves</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Otros</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Turnos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Eventos</a></li>
                <li *ngIf="!(authService.loggedIn | async)" class="nav-item"><a class="nav-link" href="#">Iniciar Sesion</a></li>
                <li *ngIf="(authService.loggedIn | async)" class="nav-item"><a class="nav-link" href="#">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
</nav>
