<div class="container-fluid">
    <h3 class="text-dark mb-4" style="margin-top: 20px;"><span style="color: rgb(255, 126, 183);">Mi perfil</span></h3>
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold"><span style="color: rgb(255, 126, 183);">Editar perfil</span></p>
        </div>
        <div class="card-body">
            <form [formGroup]="formEditar">
                <div class="row" style="margin-bottom: 25px;text-align: left;">
                    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2" style="display: inline;text-align: center;margin-bottom: 25px;"><img class="rounded-circle mb-3 mt-4 img-fluid" src="assets/1683338381655.jpg" style="display: inline;max-height: 110px;"><br><button class="btn btn-primary btn-sm" id="photoBtn" type="button">Cambiar Foto</button></div>
                    <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 col-xxl-10 align-self-center">
                        <div class="row">
                            <div class="col-md-12 text-start">
                                <div class="mb-3"><label class="form-label" for="email"><strong>Nombre</strong></label>
                                    <input class="form-control" type="nombre" formControlName="nombre" id="nombre" placeholder="Tu nombre" name="nombre" required="">
                                </div>
                            </div>
                            <div class="col-md-12 text-start">
                                <div class="mb-3"><label class="form-label" for="username"><strong>Apellido</strong></label>
                                    <input class="form-control" type="text" formControlName="apellido" placeholder="Apellido" name="apellido" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-start">
                        <div class="mb-3"><label class="form-label" for="username"><strong>Telefono</strong></label>
                            <input class="form-control" type="text" formControlName="telefono" id="telefono" placeholder="0000000000"></div>
                    </div>
                    
                    <div class="col">
                        <p id="emailErrorMsg" class="text-danger" style="display:none;"></p>
                        <p id="passwordErrorMsg" class="text-danger" style="display:none;"></p>
                    </div>
                    <div class="col-md-12" style="text-align: right;margin-top: 5px;"><button (click)="editarPerfil()" class="btn btn-primary btn-sm" id="submitBtn" type="submit">Guardar cambios</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
