<div class="container py-4 py-xl-5">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-6 col-12 d-flex flex-column justify-content-center p-4" style="width: 700px;">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div class="icono bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md" style="background: rgb(255,126,183);"><svg xmlns="http://www.w3.org/2000/svg" style="color: white;" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-graph-up">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"></path>
                    </svg></div>
                <div>
                    <h4><strong><span style="color: var(--tw-prose-headings);">Cantidad de Donaciones por Refugio</span></strong></h4>
                    <p><span style="color: rgb(55, 65, 81);">Este gráfico representa la distribución de donaciones realizadas en diferentes refugios en un período específico. Visualiza la contribución individual de los ciudadanos en el apoyo a causas de protección animal.</span></p>
                    <a routerLink="/graficos" href="#">Ver mas&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg></a>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div class="icono bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md" style="background: rgb(255,126,183);"><svg xmlns="http://www.w3.org/2000/svg" style="color: white;" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-graph-up">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"></path>
                    </svg></div>
                <div>
                    <h4><strong><span style="color: var(--tw-prose-headings);">Cantidad de Publicaciones por Tipo de Animal</span></strong></h4>
                    <p><span style="color: rgb(55, 65, 81);">Muestra la cantidad de publicaciones clasificadas por tipo de animal. Explora cómo se distribuyen las publicaciones de adopción o ayuda para cada categoría de mascota.</span></p>
                    <a routerLink="/graficos-publicaciones" href="#">Ver mas&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg></a>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start" style="margin-bottom: 30px;">
                <div class="icono bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md" style="background: rgb(255,126,183);"><svg xmlns="http://www.w3.org/2000/svg" style="color: white;" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-graph-up">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"></path>
                    </svg></div>
                <div>
                    <h4><strong><span style="color: var(--tw-prose-headings);">Cantidad de Publicaciones por Tipo (Adopción, Perdidas o Encontradas)</span></strong></h4>
                    <p><span style="color: rgb(55, 65, 81);">Este gráfico ofrece una visualización de la cantidad de publicaciones clasificadas por su propósito: adopción, mascotas perdidas o mascotas encontradas. Permite comprender la distribución y frecuencia de cada tipo de publicación en la plataforma.</span></p>
                    <a routerLink="/graficos-publicaciones-estado" href="#">Ver mas&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg></a>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
                <div class="icono bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md" style="background: rgb(255,126,183);"><svg xmlns="http://www.w3.org/2000/svg" style="color: white;" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-graph-up">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"></path>
                    </svg></div>
                <div>
                    <h4><strong><span>Cantidad de Turnos de Castración Solicitados por Tipo de Animal (Perros y Gatos)</span></strong></h4>
                    <p><span style="color: rgb(55, 65, 81);">Este gráfico ilustra la cantidad de turnos de castración solicitados específicamente para perros y gatos. Ofrece una visión detallada de la demanda de servicios de castración para ambas especies, permitiendo una comprensión más profunda de las necesidades individuales de esterilización en nuestra comunidad de cuidado animal.</span></p><a href="#">Ver mas&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Dynamically-Add-Remove-Table-Row-style.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>